*.iml
.gradle
/local.properties
/.idea/assetWizardSettings.xml
/.idea/gradle.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/app/build
/app/.idea/assetWizardSettings.xml
/app/.idea/gradle.xml
/app/.idea/caches
/app/.idea/libraries
/app/.idea/modules.xml
/app/.idea/workspace.xml
/captures
.externalNativeBuild
